* {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 100vw;
    max-height: 100vh;
    background-color: #F9F9F9;
}

.container img {
    max-width: 1914px;
    max-height: 988px;
    width: 60%;
    margin-left: 40%;
    margin-top: 15%;
}