* {
    margin: 0;
    padding: 0;
}

.card-cadastro {
    max-width: 405px;
    max-height: 690px;
    height: 100%;
    width: 100%;
    background-color: #ffffff;
    box-shadow: 0 0 1em rgb(179, 170, 170);
    position: absolute;
    margin-top: 7.4vh;
    ;
    margin-left: 12.6vw;
    margin-bottom: 2vh;
}

.cadastro {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 20.8vh;
    margin-left: 0.2vw;
}

.cadastro img {
    max-width: 642px;
    max-height: 81px;
    width: 50%;
    margin-left: 2.7vw;
    margin-top: -11.8vh;
}

.inputLabel {
    margin-bottom: 7vh;
    margin-left: -0.1vw;
    position: relative;
}

.cadastro label {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: #5F5F5F;
    margin-top: 20.6vh;
    margin-left: 2.6vw;
}

.cadastro input {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    color: #5F5F5F;
    max-width: 303px;
    max-height: 53px;
    width: 100%;
    height: 100%;
    margin-top: 1.2vh;
    margin-left: 2.6vw;
    padding-left: 1.3vw;
}

.inputLabel img {
    position: absolute;
    bottom: -0.8vw;
    right: 60px;
    width: 20px;
    height: 18px;
}

.inputMostrarSenha {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 2.5vh;
    justify-content: left;
    align-items: center;
    margin-left: -10.5vw;
    margin-top: -2vh;
}

.inputMostrarSenha input {
    display: flex;
    justify-content: left;
    align-items: center;
    border-radius: 5px;
}

.inputMostrarSenha span {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    color: #8d8686;
    font-weight: 300;
    text-align: left;
    margin-left: -10vw;
    margin-top: 1vh;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #5F5F5F;
    font-weight: 600;
    margin-left: 2.6vw;
    margin-top: 3vh;
    margin-bottom: 3vh;
}

.cadastro button {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #FFFFFF;
    font-weight: 600;
    background: linear-gradient(45deg, #AE23A9, #DC4E1B);
    max-width: 333px;
    max-height: 53px;
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    border: none;
    cursor: pointer;
}

.linha-login {
    width: 80%;
    height: 1px;
    background-color: #969696;
    text-align: center;
    margin-top: 5vh;
    margin-left: auto;
    margin-right: auto;
}

.linha-login span {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    color: #5F5F5F;
    background-color: white;
    position: relative;
    top: -0.8em;
    padding: 0 10px;
}

.btn-login-cadastro {
    max-width: 330px;
    max-height: 33px;
    width: 100%;
    height: 100%;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #5F5F5F;
    background-color: #FFFFFF;
    font-weight: 600;
    border: 1px solid #5F5F5F;
    text-align: center;
    margin-left: 6vh;
    margin-top: 6vh;
    padding-top: 2vh;
}

h4.termos-texto {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    color: #b7b7b7;
    font-weight: 600;
    margin-left: 2.6vw;
    margin-top: 3vh;
}


/* Media Queries -------------------------------------------------*/

@media screen and (max-width: 2560px) {
    .card-cadastro {
        height: 830px;
    }

    .cadastro {
        margin-left: -1vw;
    }

    .inputLabel {
        margin-left: -0.5vw;
    }

    .inputLabel img {
        bottom: -0.3vw;
        right: 31px;
    }

    .inputMostrarSenha {
        margin-left: -2vw;
    }

    .inputMostrarSenha input {
        margin-left: -1vw;
    }

    .inputMostrarSenha span {
        margin-left: -5vw;
        margin-top: 0.5vh;
    }

    .cadastro button {
        margin-left: 2vw;
    }

}

@media screen and (max-width: 1920px) {

    .cadastro {
        margin-left: -0.3vw;
    }

    .cadastro input {
        margin-top: 3.2vh;
        margin-left: 2.6vw;
    }

    .inputLabel img {
        right: 54px;
    }

    .inputMostrarSenha input {
        margin-left: -3vw;
        margin-top: 1vh;
    }

    .inputMostrarSenha span {
        margin-left: -6.7vw;
        font-size: 16px;
    }

    p {
        font-size: 15px;
    }

    .btn-login-cadastro {
        margin-left: 5vh;
    }
}

@media screen and (max-width: 1440px) {
    .cadastro {
        margin-left: 0.4vw;
    }

    .inputLabel {
        margin-left: -0.5vw;
        margin-bottom: 7.1vh;
    }

    .inputLabel img {
        right: 68px;
    }

    .inputMostrarSenha input {
        margin-left: -5vw;
    }

    .inputMostrarSenha span {
        margin-left: -8.9vw;
        margin-top: 0.8vh;
    }

    .cadastro button {
        margin-left: 2vw;
    }

    .linha-login {
        margin-left: 2.4vw;
    }

    .btn-login-cadastro {
        margin-left: 4vh;
    }
}

@media screen and (max-width: 1336px) {
    .inputLabel {
        margin-bottom: 6.1vh;
        margin-top: -1vh;
    }

    .cadastro input {
        margin-top: 1.7vh;
        margin-left: 2.6vw;
    }

    .inputMostrarSenha input {
        margin-left: -6vw;
        margin-top: -2vh;
    }

    .inputMostrarSenha span {
        margin-left: -9.5vw;
        margin-top: -2.2vh;
    }

    p {
        margin-top: -1vh;
    }

    .btn-login-cadastro {
        margin-left: 3vh;
        margin-top: 4vh;
    }
}

@media screen and (max-width: 1280px) {
    .cadastro {
        margin-left: 0.6vw;
    }

    .inputLabel {
        margin-bottom: 6vh;
        margin-top: 1vh;
    }

    .inputMostrarSenha input {
        margin-left: -7vw;
    }

    .inputMostrarSenha span {
        margin-left: -9.9vw;
    }

}

@media screen and (max-width: 1076px) {
    .card-cadastro {
        height: 750px;
    }

    .cadastro {
        margin-left: 1.4vw;
    }

    .inputLabel img {
        bottom: -0.8vw;
        right: 79px;
    }

    .inputMostrarSenha input {
        margin-left: -9vw;
        margin-top: 0vh;
    }

    .inputMostrarSenha span {
        margin-top: -0.2vh;
        margin-left: -11.9vw;
    }

    p {
        margin-top: 1vh;
    }
}

@media screen and (max-width: 1024px) {
    .card-cadastro {
        height: 700px;
    }

    .inputLabel img {
        bottom: -0.7vw;
        right: 79px;
    }

    .inputMostrarSenha input {
        margin-left: -9vw;
        margin-top: 2vh;
    }

    .inputMostrarSenha span {
        margin-left: -12.9vw;
        margin-top: 1.8vh;
    }

}

@media screen and (max-width: 960px) {
    .inputLabel {
        margin-left: 0.5vw;
        margin-bottom: 6vh;
        margin-top: 4vh;
    }

    p {
        margin-top: 2vh;
    }
}

@media screen and (max-width: 883px) {
    .card-cadastro {
        height: 600px;
    }

    .inputMostrarSenha input {
        margin-left: -11vw;
        margin-top: 7vh;
    }

    p {
        margin-top: 4vh;
        margin-left: 3.6vw;
    }

    .cadastro button {
        margin-left: 3vw;
        margin-top: 5vh;
    }

    .linha-login {
        margin-left: 3.4vw;
        margin-top: 8vh;
    }

    .btn-login-cadastro {
        margin-left: 7vh;
        margin-top: 7vh;
    }
}

@media screen and (max-width: 768px) {
    .card-cadastro {
        height: 840px;
    }

    .cadastro {
        margin-left: 3.6vw;
    }

    .inputLabel {
        display: flex;
    }

    .cadastro label {
        margin-top: -0.4vh;
        margin-left: 2.5vw;
    }

    .cadastro input {
        margin-top: 3vh;
        margin-left: -6vw;
    }

    .inputLabel img {
        right: 91px;
    }

    .inputMostrarSenha input {
        margin-left: -14vw;
        margin-top: -1vh;
    }

    .inputMostrarSenha span {
        margin-left: -15.9vw;
        margin-top: -1.2vh;
    }

    .btn-login-cadastro {
        margin-left: 2vh;
    }
}

@media screen and (max-width: 740px) {
    .card-cadastro {
        margin-left: 19.6vw;
        height: 900px;
    }

    .inputLabel {
        margin-left: 0.5vw;
        margin-top: 21vh;
    }

    .cadastro label {
        margin-top: 0.6vh;
    }

    .cadastro input {
        margin-top: 11vh;
    }

    .inputMostrarSenha {
        margin-top: 1vh;
        margin-left: 1vw;
    }

    .inputMostrarSenha input {
        width: 200%;
        margin-left: -16vw;
        margin-top: 20vh;
    }

    .inputMostrarSenha span {
        margin-left: -19.9vw;
        margin-top: 19.8vh;
    }

    p {
        margin-top: 21vh;
        margin-left: 3.6vw;
    }

    .cadastro button {
        width: 65%;
        margin-left: 5vw;
        margin-top: 12vh;
    }

    .linha-login {
        width: 65%;
        margin-left: 5.4vw;
        margin-top: 18vh;
    }

    .btn-login-cadastro {
        width: 65%;
        margin-left: 11vh;
        margin-top: 16vh;
    }

    h4.termos-texto {
        margin-left: 1.6vw;
        margin-top: 14vh;
    }
}

@media screen and (max-width: 653px) {
    .card-cadastro {
        margin-left: 19.6vw;
    }

    .inputLabel {
        margin-left: 0.5vw;
        margin-top: 21vh;
    }

    .inputMostrarSenha {
        margin-top: 1vh;
    }

    .inputMostrarSenha input {
        width: 200%;
        margin-left: -16vw;
        margin-top: 20vh;
    }

    .inputMostrarSenha span {
        margin-left: -19.9vw;
        margin-top: 20.8vh;
    }

    p {
        margin-top: 21vh;
        margin-left: 3.6vw;
    }

    .cadastro button {
        width: 70%;
        margin-left: 5vw;
        margin-top: 11vh;
    }

    .linha-login {
        width: 70%;
        margin-left: 4.4vw;
        margin-top: 18vh;
    }

    .btn-login-cadastro {
        width: 70%;
        margin-left: 10vh;
        margin-top: 16vh;
    }

    h4.termos-texto {
        margin-left: 4.6vw;
        margin-top: 14vh;
    }
}


@media screen and (max-width: 600px) {
    .card-cadastro {
        margin-left: 17.4vh;
        height: 800px;
    }

    .cadastro {
        margin-left: 2vw;
    }

    .inputLabel {
        display: flex;
    }

    .cadastro label {
        margin-top: -0.4vh;
        margin-left: 5.6vw;
    }

    .cadastro input {
        margin-top: 5.2vh;
        margin-left: -7.4vw;
    }

    .inputMostrarSenha input {
        margin-left: -16vw;
        margin-top: 2vh;
    }

    .inputMostrarSenha span {
        margin-left: -21.9vw;
        margin-top: 1.8vh;
    }

    p {
        margin-left: 5.6vw;
    }

    .cadastro button {
        margin-left: 4vw;
    }

    .linha-login {
        margin-left: 4.4vw;
    }

    .btn-login-cadastro {
        margin-left: 5vh;
    }
}

@media screen and (max-width: 412px) {
    .card-cadastro {
        margin-left: 2.4vh;
        height: 900px;
        width: 89%;
    }

    .cadastro {
        margin-left: -3vw;
    }

    .cadastro img {
        margin-left: 9.7vw;
    }

    .cadastro label {
        margin-top: -0.4vh;
        margin-left: 9.6vw;
    }

    .cadastro input {
        margin-top: 5.2vh;
        margin-left: -11.3vw;
    }

    .inputLabel img {
        right: 35px;
        bottom: -1.7vw;
    }

    .inputMostrarSenha input {
        margin-left: -22vw;
    }

    .inputMostrarSenha span {
        margin-left: -30.9vw;
    }

    p {
        margin-left: 10.6vw;
    }

    .cadastro button {
        margin-left: 7vw;
    }

    .linha-login {
        margin-left: 11.4vw;
    }

    .btn-login-cadastro {
        margin-left: 3vh;
    }

    h4.termos-texto {
        margin-left: 7.6vw;
    }
}

@media screen and (max-width: 360px) {
    .cadastro {
        margin-left: -3vw;
    }

    .inputLabel {
        margin-top: 1vh;
    }

    .inputLabel img {
        right: 20px;
    }

    .cadastro label {
        margin-top: -0.4vh;
        margin-left: 12.6vw;
    }

    .cadastro input {
        width: 88%;
        margin-top: 5.2vh;
        margin-left: -17.3vw;
    }

    .inputMostrarSenha {
        margin-top: -3vh;
        margin-left: -9vw;
    }

    .inputMostrarSenha span {
        margin-top: 4.8vh;
    }

    p {
        margin-left: 9.6vw;
        margin-top: 7vh;
    }

    .cadastro button {
        margin-left: 10vw;
        width: 80%;
        margin-top: 0vh;
    }

    .linha-login {
        margin-left: 10.4vw;
        width: 80%;
        margin-top: 8vh;
    }

    .btn-login-cadastro {
        margin-left: 5vh;
        width: 80%;
        margin-top: 6vh;
    }

    .card-cadastro {
        max-height: 830px;
    }

    h4.termos-texto {
        margin-left: 14.6vw;
        margin-top: 6vh;
    }
}

@media screen and (max-width: 280px) {
    .cadastro {
        margin-left: -7vw;
    }

    .cadastro label {
        margin-top: -0.4vh;
        margin-left: 12.6vw;
    }

    .cadastro input {
        width: 88%;
        margin-top: 5.2vh;
        margin-left: -17.3vw;
    }

    .inputMostrarSenha span {
        margin-top: 4.6vh;
    }

    p {
        margin-left: 13.6vw;
    }

    .cadastro button {
        margin-left: 13vw;
        width: 85%;
    }

    .linha-login {
        margin-left: 15.4vw;
    }

    .btn-login-cadastro {
        margin-left: 6vh;
        width: 85%;
    }

    .card-cadastro {
        max-height: 830px;
    }

    h4.termos-texto {
        margin-left: 14.6vw;
    }
}